@font-face {
    font-family: 'Friday';
    src: url('Friday13SH.ttf');
}
body{
    margin: 0;
    box-sizing: border-box;
    background-image: url('illu.jpg');
    background-size: cover;
    font-family: 'Friday';
}
h1{
    text-align: center;
    color: white;
    font-size: 3rem;
}
.container-form{
    margin: auto;
}
form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 40%;
    margin: auto;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgb(194,116,124);
background: linear-gradient(172deg, rgba(194,116,124,1) 3%, rgba(0,0,0,1) 100%);
    border: 2px solid rgb(182, 172, 172);
    color: white;
    border-radius: 10px;
}
form > div{
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
}
input{
    font-family: inherit;
    padding: 0.3rem;
    font-size: larger;
    border-radius: 5px;
}
input:last-of-type{
    cursor: pointer;
}
input:last-of-type:hover{
    background-color: red;
}
@keyframes avanzar {
    0%{
        left: 0;
    }
    25%{
        left: 400px;
    }
    50%{
        left: 900px;
    }
    75%{
        left: 1300px;
    }
    100%{
        left: 1500px;
    }
}

img{
    width: 15%;
    position: absolute;
    animation-name: avanzar;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
