@font-face {
    font-family: 'Friday';
    src: url('Friday13SH.ttf');
}
body{
    margin: 0;
    box-sizing: border-box;
    background-image: url('illu.jpg');
    background-size: cover;
    font-family: 'Friday';
}
h1{
    text-align: center;
    color: white;
}
.container-form{
    margin: auto;
}
form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 40%;
    margin: auto;
    font-size: larger;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgb(194,116,124);
background: linear-gradient(172deg, rgba(194,116,124,1) 3%, rgba(0,0,0,1) 100%);
    border: 2px solid rgb(182, 172, 172);
    color: white;
    border-radius: 10px;
}
form > div{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
input[type="submit"]{
    font-family: inherit;
    padding: 1rem;
    font-size: larger;

}