body{
    margin: 0px;
    background-color: black;
}
main{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tutorial{
    width: 12%;
    top: 40%;
    margin: auto;
    position: absolute;
    z-index: 6;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    border: 2px solid white;
    transition: opacity 0.3s linear;
}

.tutorial.hide{
    opacity: 0;
}

.st{
    position: absolute;
    color: white;
}