.des{
    color: white;
}
#top-ventas{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#top-ventas .container{
    padding: 150px 12px;
}

#top-ventas h2{
    margin-top: 0;
    font-size: 3.2em;
}



#top-ventas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/tren.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/helicoptero.jfif");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/caballo.jpg");

}
