body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header{
    display: flex;
    background-color: #fa9696;
    padding: 1rem;
}

nav{
    margin: auto;
    width: 70%;
}
#m1{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

main{
    flex: 1;
}

.notis{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.notis h1{
    margin: 0;
}

.notis p{
    margin: 0;
}

.notis a{
    margin: 0;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: #fa9696;
    padding: 1rem;
    justify-content: space-around;
}